In [156]:
import numpy as np
import pandas as pd

In [157]:
data = pd.read_excel(r'E:/数据分析数据集/航班数据统计/航班数据.xlsx')
data.head()

,id,cabinDiscount,discountValue,cabinRemain,day,depPeriod,deptAirportName,deptCityName,deptCode,deptTerminal,...,destTime,flightCancel,flightDate,price,originalPrice,transferCity,transferCityDesc,flightCompany,flightCompanyShort,flightNo
0,1,折扣经济舱5.8折,0.58,9张+,周三,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-02 15:55,0,2021-06-02,1340.0,2310.344828,NaN,停2次,华夏航空,华夏,G54356
1,4,折扣经济舱5.8折,0.58,9张+,周五,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-04 15:55,0,2021-06-04,1340.0,2310.344828,NaN,停2次,华夏航空,华夏,G54356
2,7,折扣经济舱5.1折,0.51,9张+,周日,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-06 15:55,0,2021-06-06,1180.0,2313.725490,NaN,停2次,华夏航空,华夏,G54356
3,9,折扣经济舱5.1折,0.51,9张+,周一,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-07 15:55,0,2021-06-07,1180.0,2313.725490,NaN,停2次,华夏航空,华夏,G54356
4,12,公务舱,1.00,剩2张,周六,12:00-18:00,阿克苏,阿克苏,AKU,T2,...,2021-06-05 22:35,0,2021-06-05,3400.0,3400.000000,NaN,停2次,华夏航空,华夏,G54348

In [158]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2499 non-null   int64
 1   cabinDiscount       2291 non-null   object
 2   discountValue       2103 non-null   float64
 3   cabinRemain         2314 non-null   object
 4   day                 2314 non-null   object
 5   depPeriod           2314 non-null   object
 6   deptAirportName     2499 non-null   object
 7   deptCityName        2314 non-null   object
 8   deptCode            2499 non-null   object
 9   deptTerminal        1082 non-null   object
 10  deptTime            2499 non-null   object
 11  desPeriod           2314 non-null   object
 12  destAirportName     2499 non-null   object
 13  destCityName        2314 non-null   object
 14  destCode            2499 non-null   object
 15  destTerminal        1021 non-null   object
 16  destTime            2499 non-null   object
 17  flightCancel        2499 non-null   int64
 18  flightDate          2499 non-null   object
 19  price               2103 non-null   float64
 20  originalPrice       2103 non-null   float64
 21  transferCity        871 non-null    object
 22  transferCityDesc    895 non-null    object
 23  flightCompany       2499 non-null   object
 24  flightCompanyShort  2499 non-null   object
 25  flightNo            2499 non-null   object
dtypes: float64(3), int64(2), object(21)
memory usage: 507.7+ KB

In [159]:
(data[data['price'].notnull()].index==data[data['originalPrice'].notnull()].index).sum()

2103

In [160]:
data = data[data['price'].notnull()]

In [161]:
data

,id,cabinDiscount,discountValue,cabinRemain,day,depPeriod,deptAirportName,deptCityName,deptCode,deptTerminal,...,destTime,flightCancel,flightDate,price,originalPrice,transferCity,transferCityDesc,flightCompany,flightCompanyShort,flightNo
0,1,折扣经济舱5.8折,0.58,9张+,周三,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-02 15:55,0,2021-06-02,1340.0,2310.344828,NaN,停2次,华夏航空,华夏,G54356
1,4,折扣经济舱5.8折,0.58,9张+,周五,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-04 15:55,0,2021-06-04,1340.0,2310.344828,NaN,停2次,华夏航空,华夏,G54356
2,7,折扣经济舱5.1折,0.51,9张+,周日,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-06 15:55,0,2021-06-06,1180.0,2313.725490,NaN,停2次,华夏航空,华夏,G54356
3,9,折扣经济舱5.1折,0.51,9张+,周一,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-07 15:55,0,2021-06-07,1180.0,2313.725490,NaN,停2次,华夏航空,华夏,G54356
4,12,公务舱,1.00,剩2张,周六,12:00-18:00,阿克苏,阿克苏,AKU,T2,...,2021-06-05 22:35,0,2021-06-05,3400.0,3400.000000,NaN,停2次,华夏航空,华夏,G54348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,15229,折扣经济舱,1.00,剩6张,周六,12:00-18:00,黄花,长沙,CSX,T2,...,2021-06-05 17:30,0,2021-06-05,430.0,430.000000,NaN,NaN,华夏航空,华夏,G52846
2495,15230,折扣经济舱3.1折,0.31,9张+,周三,12:00-18:00,兴义,兴义,ACX,T2,...,2021-06-02 17:05,0,2021-06-02,520.0,1677.419355,毕节,停,华夏航空,华夏,G54289
2496,15231,折扣经济舱3.1折,0.31,9张+,周日,12:00-18:00,兴义,兴义,ACX,T2,...,2021-06-06 17:05,0,2021-06-06,520.0,1677.419355,毕节,停,华夏航空,华夏,G54289
2497,15232,公务舱,1.00,剩3张,周三,12:00-18:00,兴义,兴义,ACX,T2,...,2021-06-02 17:05,0,2021-06-02,2180.0,2180.000000,毕节,停,华夏航空,华夏,G54289
2498,15233,公务舱,1.00,剩3张,周日,12:00-18:00,兴义,兴义,ACX,T2,...,2021-06-06 17:05,0,2021-06-06,2180.0,2180.000000,毕节,停,华夏航空,华夏,G54289

In [162]:
data['discountValue'] = data['price']/data['originalPrice']

In [163]:
data = data[(data['discountValue']<1)&(data['discountValue']>0)]

In [164]:
data.columns

Index(['id', 'cabinDiscount', 'discountValue', 'cabinRemain', 'day',
       'depPeriod', 'deptAirportName', 'deptCityName', 'deptCode',
       'deptTerminal', 'deptTime', 'desPeriod', 'destAirportName',
       'destCityName', 'destCode', 'destTerminal', 'destTime', 'flightCancel',
       'flightDate', 'price', 'originalPrice', 'transferCity',
       'transferCityDesc', 'flightCompany', 'flightCompanyShort', 'flightNo'],
      dtype='object')

In [165]:
data = data[data['flightCompany']=='华夏航空']

In [166]:
data

,id,cabinDiscount,discountValue,cabinRemain,day,depPeriod,deptAirportName,deptCityName,deptCode,deptTerminal,...,destTime,flightCancel,flightDate,price,originalPrice,transferCity,transferCityDesc,flightCompany,flightCompanyShort,flightNo
0,1,折扣经济舱5.8折,0.58,9张+,周三,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-02 15:55,0,2021-06-02,1340.0,2310.344828,NaN,停2次,华夏航空,华夏,G54356
1,4,折扣经济舱5.8折,0.58,9张+,周五,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-04 15:55,0,2021-06-04,1340.0,2310.344828,NaN,停2次,华夏航空,华夏,G54356
2,7,折扣经济舱5.1折,0.51,9张+,周日,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-06 15:55,0,2021-06-06,1180.0,2313.725490,NaN,停2次,华夏航空,华夏,G54356
3,9,折扣经济舱5.1折,0.51,9张+,周一,00:00-12:00,库尔勒,库尔勒,KRL,NaN,...,2021-06-07 15:55,0,2021-06-07,1180.0,2313.725490,NaN,停2次,华夏航空,华夏,G54356
5,13,折扣经济舱5.8折,0.58,剩8张,周六,12:00-18:00,阿克苏,阿克苏,AKU,T2,...,2021-06-05 22:35,0,2021-06-05,1650.0,2844.827586,NaN,停2次,华夏航空,华夏,G54348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2485,15220,折扣经济舱3.1折,0.31,9张+,周五,18:00-24:00,南泥湾,延安,ENY,NaN,...,2021-06-04 23:45,0,2021-06-04,340.0,1096.774194,NaN,NaN,华夏航空,华夏,G54986
2487,15222,折扣经济舱4.4折,0.44,9张+,周日,18:00-24:00,南泥湾,延安,ENY,NaN,...,2021-06-06 23:45,0,2021-06-06,480.0,1090.909091,NaN,NaN,华夏航空,华夏,G54986
2489,15224,折扣经济舱3.8折,0.38,9张+,周一,18:00-24:00,南泥湾,延安,ENY,NaN,...,2021-06-07 23:45,0,2021-06-07,420.0,1105.263158,NaN,NaN,华夏航空,华夏,G54986
2495,15230,折扣经济舱3.1折,0.31,9张+,周三,12:00-18:00,兴义,兴义,ACX,T2,...,2021-06-02 17:05,0,2021-06-02,520.0,1677.419355,毕节,停,华夏航空,华夏,G54289
2496,15231,折扣经济舱3.1折,0.31,9张+,周日,12:00-18:00,兴义,兴义,ACX,T2,...,2021-06-06 17:05,0,2021-06-06,520.0,1677.419355,毕节,停,华夏航空,华夏,G54289

In [167]:
data = data[['flightDate','deptAirportName','deptCityName','destAirportName','destCityName', 'price','discountValue','cabinRemain']]

In [168]:
data.index = np.arange(data.shape[0])

In [169]:
data

,flightDate,deptAirportName,deptCityName,destAirportName,destCityName,price,discountValue,cabinRemain
0,2021-06-02,库尔勒,库尔勒,白塔,呼和浩特,1340.0,0.58,9张+
1,2021-06-04,库尔勒,库尔勒,白塔,呼和浩特,1340.0,0.58,9张+
2,2021-06-06,库尔勒,库尔勒,白塔,呼和浩特,1180.0,0.51,9张+
3,2021-06-07,库尔勒,库尔勒,白塔,呼和浩特,1180.0,0.51,9张+
4,2021-06-05,阿克苏,阿克苏,白塔,呼和浩特,1650.0,0.58,剩8张
...,...,...,...,...,...,...,...,...
1307,2021-06-04,南泥湾,延安,江北,重庆,340.0,0.31,9张+
1308,2021-06-06,南泥湾,延安,江北,重庆,480.0,0.44,9张+
1309,2021-06-07,南泥湾,延安,江北,重庆,420.0,0.38,9张+
1310,2021-06-02,兴义,兴义,河东,银川,520.0,0.31,9张+
1311,2021-06-06,兴义,兴义,河东,银川,520.0,0.31,9张+

In [170]:
data['cabinRemain'].value_counts()

9张+    874
剩8张    111
剩7张     68
剩9张     66
剩5张     50
剩6张     47
剩4张     40
剩3张     26
剩2张     17
剩1张     13
Name: cabinRemain, dtype: int64

In [171]:
def swapint(x):
    if x=='9张+':
        return 10
    elif x=='剩9张':
        return 9
    elif x=='剩8张':
        return 8
    elif x=='剩7张':
        return 7
    elif x=='剩6张':
        return 6
    elif x=='剩5张':
        return 5
    elif x=='剩4张':
        return 4
    elif x=='剩3张':
        return 3
    elif x=='剩2张':
        return 2
    elif x=='剩1张':
        return 1

In [172]:
data['cabinRemain'] = data['cabinRemain'].apply(swapint)

C:\Users\LENOVO~1\AppData\Local\Temp/ipykernel_15668/1534494192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cabinRemain'] = data['cabinRemain'].apply(swapint)

In [173]:
data

,flightDate,deptAirportName,deptCityName,destAirportName,destCityName,price,discountValue,cabinRemain
0,2021-06-02,库尔勒,库尔勒,白塔,呼和浩特,1340.0,0.58,10
1,2021-06-04,库尔勒,库尔勒,白塔,呼和浩特,1340.0,0.58,10
2,2021-06-06,库尔勒,库尔勒,白塔,呼和浩特,1180.0,0.51,10
3,2021-06-07,库尔勒,库尔勒,白塔,呼和浩特,1180.0,0.51,10
4,2021-06-05,阿克苏,阿克苏,白塔,呼和浩特,1650.0,0.58,8
...,...,...,...,...,...,...,...,...
1307,2021-06-04,南泥湾,延安,江北,重庆,340.0,0.31,10
1308,2021-06-06,南泥湾,延安,江北,重庆,480.0,0.44,10
1309,2021-06-07,南泥湾,延安,江北,重庆,420.0,0.38,10
1310,2021-06-02,兴义,兴义,河东,银川,520.0,0.31,10
1311,2021-06-06,兴义,兴义,河东,银川,520.0,0.31,10

In [174]:
data['deptAirportName'].value_counts()

江北      178
白塔      133
库尔勒      85
衢州       49
包头东河     47
       ...
新舟        2
黎平        2
晋江        2
月照        1
桃仙        1
Name: deptAirportName, Length: 88, dtype: int64

In [175]:
data['deptAirportName'].unique().shape

(88,)

In [176]:
data['deptCityName'].unique().shape # 起始点有两个机场来自同一城市

(87,)

In [177]:
data['destAirportName'].unique().shape

(87,)

In [178]:
data['destCityName'].unique().shape  # 终点有三个机场来自同一城市

(85,)

In [179]:
data['Starting_point'] = data['deptAirportName'].str.cat(data['deptCityName'],sep='-')

C:\Users\LENOVO~1\AppData\Local\Temp/ipykernel_15668/2918020073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Starting_point'] = data['deptAirportName'].str.cat(data['deptCityName'],sep='-')

In [180]:
data['end_point'] = data['destAirportName'].str.cat(data['destCityName'],sep='-')

C:\Users\LENOVO~1\AppData\Local\Temp/ipykernel_15668/1830523528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['end_point'] = data['destAirportName'].str.cat(data['destCityName'],sep='-')

In [181]:
data['route'] = data['Starting_point'].str.cat(data['end_point'],sep='--')

C:\Users\LENOVO~1\AppData\Local\Temp/ipykernel_15668/429536261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['route'] = data['Starting_point'].str.cat(data['end_point'],sep='--')

In [182]:
data.head()

,flightDate,deptAirportName,deptCityName,destAirportName,destCityName,price,discountValue,cabinRemain,Starting_point,end_point,route
0,2021-06-02,库尔勒,库尔勒,白塔,呼和浩特,1340.0,0.58,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特
1,2021-06-04,库尔勒,库尔勒,白塔,呼和浩特,1340.0,0.58,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特
2,2021-06-06,库尔勒,库尔勒,白塔,呼和浩特,1180.0,0.51,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特
3,2021-06-07,库尔勒,库尔勒,白塔,呼和浩特,1180.0,0.51,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特
4,2021-06-05,阿克苏,阿克苏,白塔,呼和浩特,1650.0,0.58,8,阿克苏-阿克苏,白塔-呼和浩特,阿克苏-阿克苏--白塔-呼和浩特

In [183]:
data['Starting_point'].unique().shape

(89,)

In [184]:
data['end_point'].unique().shape

(87,)

In [185]:
data.to_csv(r'E:/数据分析数据集/航班数据统计/new_data.csv')

In [186]:
len(data['route'].unique())

262

In [187]:
data_price = pd.DataFrame(data.groupby(['flightDate','route'])['price'].mean()).reset_index()

In [188]:
data_price

      flightDate             route  price
0     2021-06-02      三义-丽江--景迈-澜沧  430.0
1     2021-06-02   三家子-齐齐哈尔--滨海-天津  750.0
2     2021-06-02    且末-且末--库尔勒-库尔勒  445.0
3     2021-06-02      义乌-义乌--江北-重庆  550.0
4     2021-06-02  义勒力特-乌兰浩特--江北-重庆  920.0
...          ...               ...    ...
1136  2021-06-08     龙洞堡-贵阳--兴义-兴义  390.0
1137  2021-06-08    龙洞堡-贵阳--月照-六盘水   70.0
1138  2021-06-08     龙洞堡-贵阳--湛江-湛江  460.0
1139  2021-06-08     龙洞堡-贵阳--衢州-衢州  490.0
1140  2021-06-08     龙洞堡-贵阳--飞雄-毕节  220.0

[1141 rows x 3 columns]

In [189]:
data_price['flightDate'].unique().tolist()

['2021-06-02',
 '2021-06-03',
 '2021-06-04',
 '2021-06-05',
 '2021-06-06',
 '2021-06-07',
 '2021-06-08']

In [190]:
price = pd.DataFrame(columns=data_price['flightDate'].unique().tolist(),index=data_price['route'].unique())

In [191]:
price

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08
三义-丽江--景迈-澜沧,NaN,NaN,NaN,NaN,NaN,NaN,NaN
三家子-齐齐哈尔--滨海-天津,NaN,NaN,NaN,NaN,NaN,NaN,NaN
且末-且末--库尔勒-库尔勒,NaN,NaN,NaN,NaN,NaN,NaN,NaN
义乌-义乌--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
义勒力特-乌兰浩特--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
龙洞堡-贵阳--梅县-梅州,NaN,NaN,NaN,NaN,NaN,NaN,NaN
龙洞堡-贵阳--黎平-黎平,NaN,NaN,NaN,NaN,NaN,NaN,NaN
月照-六盘水--龙洞堡-贵阳,NaN,NaN,NaN,NaN,NaN,NaN,NaN
桃仙-沈阳--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
江北-重庆--桃仙-沈阳,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
for index,row in data_price.iterrows():
    price.loc[row['route'],row['flightDate']] = row['price']

In [193]:
price

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08
三义-丽江--景迈-澜沧,430.0,NaN,430.0,NaN,NaN,430.0,NaN
三家子-齐齐哈尔--滨海-天津,750.0,650.0,650.0,650.0,650.0,650.0,650.0
且末-且末--库尔勒-库尔勒,445.0,380.0,445.0,445.0,430.0,430.0,430.0
义乌-义乌--江北-重庆,550.0,660.0,550.0,550.0,710.0,710.0,NaN
义勒力特-乌兰浩特--江北-重庆,920.0,920.0,920.0,920.0,NaN,920.0,920.0
...,...,...,...,...,...,...,...
龙洞堡-贵阳--梅县-梅州,NaN,NaN,NaN,NaN,480.0,480.0,NaN
龙洞堡-贵阳--黎平-黎平,NaN,NaN,NaN,NaN,180.0,180.0,NaN
月照-六盘水--龙洞堡-贵阳,NaN,NaN,NaN,NaN,NaN,NaN,70.0
桃仙-沈阳--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,640.0
江北-重庆--桃仙-沈阳,NaN,NaN,NaN,NaN,NaN,NaN,570.0

In [194]:
price['point'] = price.index.str.split('--')

price['Startpoint'] = price['point'].str[0]

price['endpoint'] = price['point'].str[1]

price['deptCityName'] = price['Startpoint'].str.split('-').str[1]

price['destCityName'] = price['endpoint'].str.split('-').str[1]

price.index = np.arange(price.shape[0])

price['number'] = np.arange(price.shape[0])+1

In [195]:
price

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08,point,Startpoint,endpoint,deptCityName,destCityName,number
0,430.0,NaN,430.0,NaN,NaN,430.0,NaN,"[三义-丽江, 景迈-澜沧]",三义-丽江,景迈-澜沧,丽江,澜沧,1
1,750.0,650.0,650.0,650.0,650.0,650.0,650.0,"[三家子-齐齐哈尔, 滨海-天津]",三家子-齐齐哈尔,滨海-天津,齐齐哈尔,天津,2
2,445.0,380.0,445.0,445.0,430.0,430.0,430.0,"[且末-且末, 库尔勒-库尔勒]",且末-且末,库尔勒-库尔勒,且末,库尔勒,3
3,550.0,660.0,550.0,550.0,710.0,710.0,NaN,"[义乌-义乌, 江北-重庆]",义乌-义乌,江北-重庆,义乌,重庆,4
4,920.0,920.0,920.0,920.0,NaN,920.0,920.0,"[义勒力特-乌兰浩特, 江北-重庆]",义勒力特-乌兰浩特,江北-重庆,乌兰浩特,重庆,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,NaN,NaN,NaN,NaN,480.0,480.0,NaN,"[龙洞堡-贵阳, 梅县-梅州]",龙洞堡-贵阳,梅县-梅州,贵阳,梅州,258
258,NaN,NaN,NaN,NaN,180.0,180.0,NaN,"[龙洞堡-贵阳, 黎平-黎平]",龙洞堡-贵阳,黎平-黎平,贵阳,黎平,259
259,NaN,NaN,NaN,NaN,NaN,NaN,70.0,"[月照-六盘水, 龙洞堡-贵阳]",月照-六盘水,龙洞堡-贵阳,六盘水,贵阳,260
260,NaN,NaN,NaN,NaN,NaN,NaN,640.0,"[桃仙-沈阳, 江北-重庆]",桃仙-沈阳,江北-重庆,沈阳,重庆,261
261,NaN,NaN,NaN,NaN,NaN,NaN,570.0,"[江北-重庆, 桃仙-沈阳]",江北-重庆,桃仙-沈阳,重庆,沈阳,262

In [196]:
price['route'] = price['deptCityName'].str.cat(price['destCityName'],sep='-')

In [197]:
price['route'].value_counts()

重庆-重庆        2
和田-阿克苏       2
阿克苏-和田       2
丽江-澜沧        1
大连-重庆        1
            ..
银川-兴义        1
银川-天水        1
丹东-重庆        1
呼伦贝尔-呼和浩特    1
重庆-沈阳        1
Name: route, Length: 259, dtype: int64

In [198]:
price[price['route']=='重庆-重庆']

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08,point,Startpoint,endpoint,deptCityName,destCityName,number,route
64,150.0,150.0,160.0,130.0,150.0,150.0,150.0,"[武陵山-重庆, 江北-重庆]",武陵山-重庆,江北-重庆,重庆,重庆,65,重庆-重庆
77,150.0,150.0,150.0,150.0,150.0,150.0,130.0,"[江北-重庆, 武陵山-重庆]",江北-重庆,武陵山-重庆,重庆,重庆,78,重庆-重庆

In [199]:
price.loc[price[price['Startpoint']=='武陵山-重庆'].index,'deptCityName'] = '重庆（武陵山）'
price.loc[price[price['endpoint']=='武陵山-重庆'].index,'destCityName'] = '重庆（武陵山）'
price.loc[price[price['Startpoint']=='江北-重庆'].index,'deptCityName'] = '重庆（江北）'
price.loc[price[price['endpoint']=='江北-重庆'].index,'destCityName'] = '重庆（江北）'

In [200]:
price[price['route']=='重庆-重庆']

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08,point,Startpoint,endpoint,deptCityName,destCityName,number,route
64,150.0,150.0,160.0,130.0,150.0,150.0,150.0,"[武陵山-重庆, 江北-重庆]",武陵山-重庆,江北-重庆,重庆（武陵山）,重庆（江北）,65,重庆-重庆
77,150.0,150.0,150.0,150.0,150.0,150.0,130.0,"[江北-重庆, 武陵山-重庆]",江北-重庆,武陵山-重庆,重庆（江北）,重庆（武陵山）,78,重庆-重庆

In [201]:
price[price['route'] == '和田-阿克苏']

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08,point,Startpoint,endpoint,deptCityName,destCityName,number,route
31,565.0,565.0,475.0,475.0,475.0,475.0,475.0,"[和田-和田, 阿克苏-阿克苏]",和田-和田,阿克苏-阿克苏,和田,阿克苏,32,和田-阿克苏
161,NaN,300.0,NaN,300.0,NaN,NaN,300.0,"[于田万方-和田, 阿克苏-阿克苏]",于田万方-和田,阿克苏-阿克苏,和田,阿克苏,162,和田-阿克苏

In [202]:
price.loc[price[price['Startpoint']=='和田-和田'].index,'deptCityName'] = '和田（和田）'
price.loc[price[price['endpoint']=='和田-和田'].index,'destCityName'] = '和田（和田）'
price.loc[price[price['Startpoint']=='于田万方-和田'].index,'deptCityName'] = '和田（于田万方）'
price.loc[price[price['endpoint']=='于田万方-和田'].index,'destCityName'] = '和田（于田万方）'

In [203]:
price[price['route'] == '阿克苏-和田']

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08,point,Startpoint,endpoint,deptCityName,destCityName,number,route
144,565.0,475.0,475.0,475.0,475.0,475.0,475.0,"[阿克苏-阿克苏, 和田-和田]",阿克苏-阿克苏,和田-和田,阿克苏,和田（和田）,145,阿克苏-和田
218,NaN,300.0,NaN,300.0,NaN,NaN,300.0,"[阿克苏-阿克苏, 于田万方-和田]",阿克苏-阿克苏,于田万方-和田,阿克苏,和田（于田万方）,219,阿克苏-和田

In [204]:
price = price.drop(['point','Startpoint','endpoint','route'],axis=1)

In [205]:
price

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08,deptCityName,destCityName,number
0,430.0,NaN,430.0,NaN,NaN,430.0,NaN,丽江,澜沧,1
1,750.0,650.0,650.0,650.0,650.0,650.0,650.0,齐齐哈尔,天津,2
2,445.0,380.0,445.0,445.0,430.0,430.0,430.0,且末,库尔勒,3
3,550.0,660.0,550.0,550.0,710.0,710.0,NaN,义乌,重庆（江北）,4
4,920.0,920.0,920.0,920.0,NaN,920.0,920.0,乌兰浩特,重庆（江北）,5
...,...,...,...,...,...,...,...,...,...,...
257,NaN,NaN,NaN,NaN,480.0,480.0,NaN,贵阳,梅州,258
258,NaN,NaN,NaN,NaN,180.0,180.0,NaN,贵阳,黎平,259
259,NaN,NaN,NaN,NaN,NaN,NaN,70.0,六盘水,贵阳,260
260,NaN,NaN,NaN,NaN,NaN,NaN,640.0,沈阳,重庆（江北）,261
261,NaN,NaN,NaN,NaN,NaN,NaN,570.0,重庆（江北）,沈阳,262

In [206]:
price.to_csv(r'E:/数据分析数据集/航班数据统计/price_data.csv',encoding='utf_8_sig')

In [207]:
data_discount = pd.DataFrame(data.groupby(['flightDate','route'])['discountValue'].mean()).reset_index()

In [208]:
data_discount

      flightDate             route  discountValue
0     2021-06-02      三义-丽江--景迈-澜沧           0.23
1     2021-06-02   三家子-齐齐哈尔--滨海-天津           0.51
2     2021-06-02    且末-且末--库尔勒-库尔勒           0.41
3     2021-06-02      义乌-义乌--江北-重庆           0.34
4     2021-06-02  义勒力特-乌兰浩特--江北-重庆           0.38
...          ...               ...            ...
1136  2021-06-08     龙洞堡-贵阳--兴义-兴义           0.41
1137  2021-06-08    龙洞堡-贵阳--月照-六盘水           0.09
1138  2021-06-08     龙洞堡-贵阳--湛江-湛江           0.51
1139  2021-06-08     龙洞堡-贵阳--衢州-衢州           0.38
1140  2021-06-08     龙洞堡-贵阳--飞雄-毕节           0.31

[1141 rows x 3 columns]

In [209]:
discount = pd.DataFrame(columns=data_discount['flightDate'].unique().tolist(),index=data_discount['route'].unique())

In [210]:
discount

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08
三义-丽江--景迈-澜沧,NaN,NaN,NaN,NaN,NaN,NaN,NaN
三家子-齐齐哈尔--滨海-天津,NaN,NaN,NaN,NaN,NaN,NaN,NaN
且末-且末--库尔勒-库尔勒,NaN,NaN,NaN,NaN,NaN,NaN,NaN
义乌-义乌--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
义勒力特-乌兰浩特--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
龙洞堡-贵阳--梅县-梅州,NaN,NaN,NaN,NaN,NaN,NaN,NaN
龙洞堡-贵阳--黎平-黎平,NaN,NaN,NaN,NaN,NaN,NaN,NaN
月照-六盘水--龙洞堡-贵阳,NaN,NaN,NaN,NaN,NaN,NaN,NaN
桃仙-沈阳--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
江北-重庆--桃仙-沈阳,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
for index,row in data_discount.iterrows():
    discount.loc[row['route'],row['flightDate']] = row['discountValue']

In [212]:
discount

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08
三义-丽江--景迈-澜沧,0.23,NaN,0.23,NaN,NaN,0.23,NaN
三家子-齐齐哈尔--滨海-天津,0.51,0.44,0.44,0.44,0.44,0.44,0.44
且末-且末--库尔勒-库尔勒,0.41,0.35,0.41,0.41,0.395,0.395,0.395
义乌-义乌--江北-重庆,0.34,0.41,0.34,0.34,0.44,0.44,NaN
义勒力特-乌兰浩特--江北-重庆,0.38,0.38,0.38,0.38,NaN,0.38,0.38
...,...,...,...,...,...,...,...
龙洞堡-贵阳--梅县-梅州,NaN,NaN,NaN,NaN,0.44,0.44,NaN
龙洞堡-贵阳--黎平-黎平,NaN,NaN,NaN,NaN,0.23,0.23,NaN
月照-六盘水--龙洞堡-贵阳,NaN,NaN,NaN,NaN,NaN,NaN,0.09
桃仙-沈阳--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,0.31
江北-重庆--桃仙-沈阳,NaN,NaN,NaN,NaN,NaN,NaN,0.28

In [213]:
discount['point'] = discount.index.str.split('--')

discount['Startpoint'] = discount['point'].str[0]

discount['endpoint'] = discount['point'].str[1]

discount['deptCityName'] = discount['Startpoint'].str.split('-').str[1]

discount['destCityName'] = discount['endpoint'].str.split('-').str[1]

discount.index = np.arange(discount.shape[0])

discount['number'] = np.arange(discount.shape[0])+1

In [214]:
discount

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08,point,Startpoint,endpoint,deptCityName,destCityName,number
0,0.23,NaN,0.23,NaN,NaN,0.23,NaN,"[三义-丽江, 景迈-澜沧]",三义-丽江,景迈-澜沧,丽江,澜沧,1
1,0.51,0.44,0.44,0.44,0.44,0.44,0.44,"[三家子-齐齐哈尔, 滨海-天津]",三家子-齐齐哈尔,滨海-天津,齐齐哈尔,天津,2
2,0.41,0.35,0.41,0.41,0.395,0.395,0.395,"[且末-且末, 库尔勒-库尔勒]",且末-且末,库尔勒-库尔勒,且末,库尔勒,3
3,0.34,0.41,0.34,0.34,0.44,0.44,NaN,"[义乌-义乌, 江北-重庆]",义乌-义乌,江北-重庆,义乌,重庆,4
4,0.38,0.38,0.38,0.38,NaN,0.38,0.38,"[义勒力特-乌兰浩特, 江北-重庆]",义勒力特-乌兰浩特,江北-重庆,乌兰浩特,重庆,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,NaN,NaN,NaN,NaN,0.44,0.44,NaN,"[龙洞堡-贵阳, 梅县-梅州]",龙洞堡-贵阳,梅县-梅州,贵阳,梅州,258
258,NaN,NaN,NaN,NaN,0.23,0.23,NaN,"[龙洞堡-贵阳, 黎平-黎平]",龙洞堡-贵阳,黎平-黎平,贵阳,黎平,259
259,NaN,NaN,NaN,NaN,NaN,NaN,0.09,"[月照-六盘水, 龙洞堡-贵阳]",月照-六盘水,龙洞堡-贵阳,六盘水,贵阳,260
260,NaN,NaN,NaN,NaN,NaN,NaN,0.31,"[桃仙-沈阳, 江北-重庆]",桃仙-沈阳,江北-重庆,沈阳,重庆,261
261,NaN,NaN,NaN,NaN,NaN,NaN,0.28,"[江北-重庆, 桃仙-沈阳]",江北-重庆,桃仙-沈阳,重庆,沈阳,262

In [215]:
discount['deptCityName'] = price['deptCityName']

discount['destCityName'] = price['destCityName']

In [216]:
discount = discount.drop(['point','Startpoint','endpoint'],axis=1)

In [217]:
discount.to_csv(r'E:/数据分析数据集/航班数据统计/discount_data.csv',encoding='utf_8_sig')

In [218]:
data

,flightDate,deptAirportName,deptCityName,destAirportName,destCityName,price,discountValue,cabinRemain,Starting_point,end_point,route
0,2021-06-02,库尔勒,库尔勒,白塔,呼和浩特,1340.0,0.58,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特
1,2021-06-04,库尔勒,库尔勒,白塔,呼和浩特,1340.0,0.58,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特
2,2021-06-06,库尔勒,库尔勒,白塔,呼和浩特,1180.0,0.51,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特
3,2021-06-07,库尔勒,库尔勒,白塔,呼和浩特,1180.0,0.51,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特
4,2021-06-05,阿克苏,阿克苏,白塔,呼和浩特,1650.0,0.58,8,阿克苏-阿克苏,白塔-呼和浩特,阿克苏-阿克苏--白塔-呼和浩特
...,...,...,...,...,...,...,...,...,...,...,...
1307,2021-06-04,南泥湾,延安,江北,重庆,340.0,0.31,10,南泥湾-延安,江北-重庆,南泥湾-延安--江北-重庆
1308,2021-06-06,南泥湾,延安,江北,重庆,480.0,0.44,10,南泥湾-延安,江北-重庆,南泥湾-延安--江北-重庆
1309,2021-06-07,南泥湾,延安,江北,重庆,420.0,0.38,10,南泥湾-延安,江北-重庆,南泥湾-延安--江北-重庆
1310,2021-06-02,兴义,兴义,河东,银川,520.0,0.31,10,兴义-兴义,河东-银川,兴义-兴义--河东-银川
1311,2021-06-06,兴义,兴义,河东,银川,520.0,0.31,10,兴义-兴义,河东-银川,兴义-兴义--河东-银川

In [219]:
data_cabinRemain = pd.DataFrame(data.groupby(['flightDate','route'])['cabinRemain'].mean()).reset_index()

In [220]:
data_cabinRemain

      flightDate             route  cabinRemain
0     2021-06-02      三义-丽江--景迈-澜沧         10.0
1     2021-06-02   三家子-齐齐哈尔--滨海-天津          5.0
2     2021-06-02    且末-且末--库尔勒-库尔勒          9.0
3     2021-06-02      义乌-义乌--江北-重庆         10.0
4     2021-06-02  义勒力特-乌兰浩特--江北-重庆          3.0
...          ...               ...          ...
1136  2021-06-08     龙洞堡-贵阳--兴义-兴义         10.0
1137  2021-06-08    龙洞堡-贵阳--月照-六盘水         10.0
1138  2021-06-08     龙洞堡-贵阳--湛江-湛江         10.0
1139  2021-06-08     龙洞堡-贵阳--衢州-衢州         10.0
1140  2021-06-08     龙洞堡-贵阳--飞雄-毕节         10.0

[1141 rows x 3 columns]

In [221]:
cabinRemain = pd.DataFrame(columns=data_cabinRemain['flightDate'].unique().tolist(),index=data_cabinRemain['route'].unique())

In [222]:
cabinRemain

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08
三义-丽江--景迈-澜沧,NaN,NaN,NaN,NaN,NaN,NaN,NaN
三家子-齐齐哈尔--滨海-天津,NaN,NaN,NaN,NaN,NaN,NaN,NaN
且末-且末--库尔勒-库尔勒,NaN,NaN,NaN,NaN,NaN,NaN,NaN
义乌-义乌--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
义勒力特-乌兰浩特--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
龙洞堡-贵阳--梅县-梅州,NaN,NaN,NaN,NaN,NaN,NaN,NaN
龙洞堡-贵阳--黎平-黎平,NaN,NaN,NaN,NaN,NaN,NaN,NaN
月照-六盘水--龙洞堡-贵阳,NaN,NaN,NaN,NaN,NaN,NaN,NaN
桃仙-沈阳--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
江北-重庆--桃仙-沈阳,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [223]:
for index,row in data_cabinRemain.iterrows():
    cabinRemain.loc[row['route'],row['flightDate']] = row['cabinRemain']

In [224]:
cabinRemain

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08
三义-丽江--景迈-澜沧,10.0,NaN,7.0,NaN,NaN,5.0,NaN
三家子-齐齐哈尔--滨海-天津,5.0,8.0,10.0,10.0,10.0,8.0,10.0
且末-且末--库尔勒-库尔勒,9.0,10.0,10.0,7.0,10.0,10.0,10.0
义乌-义乌--江北-重庆,10.0,10.0,10.0,10.0,10.0,10.0,NaN
义勒力特-乌兰浩特--江北-重庆,3.0,4.0,3.0,2.0,NaN,5.0,5.0
...,...,...,...,...,...,...,...
龙洞堡-贵阳--梅县-梅州,NaN,NaN,NaN,NaN,10.0,10.0,NaN
龙洞堡-贵阳--黎平-黎平,NaN,NaN,NaN,NaN,10.0,10.0,NaN
月照-六盘水--龙洞堡-贵阳,NaN,NaN,NaN,NaN,NaN,NaN,10.0
桃仙-沈阳--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,10.0
江北-重庆--桃仙-沈阳,NaN,NaN,NaN,NaN,NaN,NaN,10.0

In [225]:
cabinRemain['point'] = cabinRemain.index.str.split('--')

cabinRemain['Startpoint'] = cabinRemain['point'].str[0]

cabinRemain['endpoint'] = cabinRemain['point'].str[1]

cabinRemain['deptCityName'] = cabinRemain['Startpoint'].str.split('-').str[1]

cabinRemain['destCityName'] = cabinRemain['endpoint'].str.split('-').str[1]

cabinRemain.index = np.arange(cabinRemain.shape[0])

cabinRemain['number'] = np.arange(cabinRemain.shape[0])+1

In [226]:
cabinRemain['deptCityName'] = price['deptCityName']

cabinRemain['destCityName'] = price['destCityName']

In [227]:
cabinRemain = cabinRemain.drop(['point','Startpoint','endpoint'],axis=1)

In [228]:
cabinRemain

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08,deptCityName,destCityName,number
0,10.0,NaN,7.0,NaN,NaN,5.0,NaN,丽江,澜沧,1
1,5.0,8.0,10.0,10.0,10.0,8.0,10.0,齐齐哈尔,天津,2
2,9.0,10.0,10.0,7.0,10.0,10.0,10.0,且末,库尔勒,3
3,10.0,10.0,10.0,10.0,10.0,10.0,NaN,义乌,重庆（江北）,4
4,3.0,4.0,3.0,2.0,NaN,5.0,5.0,乌兰浩特,重庆（江北）,5
...,...,...,...,...,...,...,...,...,...,...
257,NaN,NaN,NaN,NaN,10.0,10.0,NaN,贵阳,梅州,258
258,NaN,NaN,NaN,NaN,10.0,10.0,NaN,贵阳,黎平,259
259,NaN,NaN,NaN,NaN,NaN,NaN,10.0,六盘水,贵阳,260
260,NaN,NaN,NaN,NaN,NaN,NaN,10.0,沈阳,重庆（江北）,261
261,NaN,NaN,NaN,NaN,NaN,NaN,10.0,重庆（江北）,沈阳,262

In [229]:
cabinRemain.to_csv(r'E:/数据分析数据集/航班数据统计/cabinRemain.csv',encoding='utf_8_sig')

In [230]:
data['count'] = 1

C:\Users\LENOVO~1\AppData\Local\Temp/ipykernel_15668/2072434223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['count'] = 1

In [231]:
data

,flightDate,deptAirportName,deptCityName,destAirportName,destCityName,price,discountValue,cabinRemain,Starting_point,end_point,route,count
0,2021-06-02,库尔勒,库尔勒,白塔,呼和浩特,1340.0,0.58,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特,1
1,2021-06-04,库尔勒,库尔勒,白塔,呼和浩特,1340.0,0.58,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特,1
2,2021-06-06,库尔勒,库尔勒,白塔,呼和浩特,1180.0,0.51,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特,1
3,2021-06-07,库尔勒,库尔勒,白塔,呼和浩特,1180.0,0.51,10,库尔勒-库尔勒,白塔-呼和浩特,库尔勒-库尔勒--白塔-呼和浩特,1
4,2021-06-05,阿克苏,阿克苏,白塔,呼和浩特,1650.0,0.58,8,阿克苏-阿克苏,白塔-呼和浩特,阿克苏-阿克苏--白塔-呼和浩特,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1307,2021-06-04,南泥湾,延安,江北,重庆,340.0,0.31,10,南泥湾-延安,江北-重庆,南泥湾-延安--江北-重庆,1
1308,2021-06-06,南泥湾,延安,江北,重庆,480.0,0.44,10,南泥湾-延安,江北-重庆,南泥湾-延安--江北-重庆,1
1309,2021-06-07,南泥湾,延安,江北,重庆,420.0,0.38,10,南泥湾-延安,江北-重庆,南泥湾-延安--江北-重庆,1
1310,2021-06-02,兴义,兴义,河东,银川,520.0,0.31,10,兴义-兴义,河东-银川,兴义-兴义--河东-银川,1
1311,2021-06-06,兴义,兴义,河东,银川,520.0,0.31,10,兴义-兴义,河东-银川,兴义-兴义--河东-银川,1

In [232]:
data_count = pd.DataFrame(data.groupby(['flightDate','route'])['count'].sum()).reset_index()

In [233]:
data_count

      flightDate             route  count
0     2021-06-02      三义-丽江--景迈-澜沧      1
1     2021-06-02   三家子-齐齐哈尔--滨海-天津      1
2     2021-06-02    且末-且末--库尔勒-库尔勒      2
3     2021-06-02      义乌-义乌--江北-重庆      1
4     2021-06-02  义勒力特-乌兰浩特--江北-重庆      1
...          ...               ...    ...
1136  2021-06-08     龙洞堡-贵阳--兴义-兴义      2
1137  2021-06-08    龙洞堡-贵阳--月照-六盘水      1
1138  2021-06-08     龙洞堡-贵阳--湛江-湛江      1
1139  2021-06-08     龙洞堡-贵阳--衢州-衢州      1
1140  2021-06-08     龙洞堡-贵阳--飞雄-毕节      1

[1141 rows x 3 columns]

In [234]:
count = pd.DataFrame(columns=data_count['flightDate'].unique().tolist(),index=data_count['route'].unique())

In [235]:
count

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08
三义-丽江--景迈-澜沧,NaN,NaN,NaN,NaN,NaN,NaN,NaN
三家子-齐齐哈尔--滨海-天津,NaN,NaN,NaN,NaN,NaN,NaN,NaN
且末-且末--库尔勒-库尔勒,NaN,NaN,NaN,NaN,NaN,NaN,NaN
义乌-义乌--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
义勒力特-乌兰浩特--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
龙洞堡-贵阳--梅县-梅州,NaN,NaN,NaN,NaN,NaN,NaN,NaN
龙洞堡-贵阳--黎平-黎平,NaN,NaN,NaN,NaN,NaN,NaN,NaN
月照-六盘水--龙洞堡-贵阳,NaN,NaN,NaN,NaN,NaN,NaN,NaN
桃仙-沈阳--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,NaN
江北-重庆--桃仙-沈阳,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [236]:
for index,row in data_count.iterrows():
    count.loc[row['route'],row['flightDate']] = row['count']

In [237]:
count

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08
三义-丽江--景迈-澜沧,1,NaN,1,NaN,NaN,1,NaN
三家子-齐齐哈尔--滨海-天津,1,1,1,1,1,1,1
且末-且末--库尔勒-库尔勒,2,1,2,2,2,2,2
义乌-义乌--江北-重庆,1,1,1,1,1,1,NaN
义勒力特-乌兰浩特--江北-重庆,1,1,1,1,NaN,1,1
...,...,...,...,...,...,...,...
龙洞堡-贵阳--梅县-梅州,NaN,NaN,NaN,NaN,1,1,NaN
龙洞堡-贵阳--黎平-黎平,NaN,NaN,NaN,NaN,1,1,NaN
月照-六盘水--龙洞堡-贵阳,NaN,NaN,NaN,NaN,NaN,NaN,1
桃仙-沈阳--江北-重庆,NaN,NaN,NaN,NaN,NaN,NaN,1
江北-重庆--桃仙-沈阳,NaN,NaN,NaN,NaN,NaN,NaN,1

In [238]:
count['point'] = count.index.str.split('--')

count['Startpoint'] = count['point'].str[0]

count['endpoint'] = count['point'].str[1]

count['deptCityName'] = count['Startpoint'].str.split('-').str[1]

count['destCityName'] = count['endpoint'].str.split('-').str[1]

count.index = np.arange(count.shape[0])

count['number'] = np.arange(count.shape[0])+1

In [239]:
count['deptCityName'] = price['deptCityName']

count['destCityName'] = price['destCityName']

In [240]:
count = count.drop(['point','Startpoint','endpoint'],axis=1)

In [241]:
count

,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07,2021-06-08,deptCityName,destCityName,number
0,1,NaN,1,NaN,NaN,1,NaN,丽江,澜沧,1
1,1,1,1,1,1,1,1,齐齐哈尔,天津,2
2,2,1,2,2,2,2,2,且末,库尔勒,3
3,1,1,1,1,1,1,NaN,义乌,重庆（江北）,4
4,1,1,1,1,NaN,1,1,乌兰浩特,重庆（江北）,5
...,...,...,...,...,...,...,...,...,...,...
257,NaN,NaN,NaN,NaN,1,1,NaN,贵阳,梅州,258
258,NaN,NaN,NaN,NaN,1,1,NaN,贵阳,黎平,259
259,NaN,NaN,NaN,NaN,NaN,NaN,1,六盘水,贵阳,260
260,NaN,NaN,NaN,NaN,NaN,NaN,1,沈阳,重庆（江北）,261
261,NaN,NaN,NaN,NaN,NaN,NaN,1,重庆（江北）,沈阳,262

In [243]:
count.to_csv(r'E:/数据分析数据集/航班数据统计/counts.csv',encoding='utf_8_sig')